Invoice/Mobile App Integration.json
{
  "name": "Mobile App Integration",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        -32
      ],
      "id": "edbeff0e-fb18-4015-8a77-7c1e9f1640cc",
      "name": "Telegram Trigger",
      "webhookId": "d22fa3aa-bc76-463c-bea6-79bae2a6c1c1",
      "credentials": {
        "telegramApi": {
          "id": "TOgOHDoYAqJmTQXh",
          "name": "Telegram account 131"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0714d987-e027-4cfd-847f-fa8abfcea432"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "39640ee9-4a63-4c52-b920-5bfa81bec3b7",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        -32
      ],
      "id": "b5347f4a-3a81-43ee-8841-f579c48155c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "**Role:** You are an expert Vision AI Specialist and Image Analyst. Your goal is to provide detailed, accurate, and context-aware descriptions of any image provided to you.\n\n**Instructions:** 1. **Comprehensive Analysis:** Start by identifying the main subject of the image. Describe its colors, textures, and positioning. 2. **Context & Environment:** Describe the background, lighting conditions (e.g., natural, artificial, cinematic), and the overall atmosphere or mood. 3. **Object & Text Detection:** Identify all significant objects. If there is any text (OCR), transcribe it accurately. 4. **Technical Details:** If relevant, mention the perspective (e.g., close-up, wide-angle, bird's-eye view) and style (e.g., photorealistic, digital art, oil painting). 5. **Inference:** Based on the visual cues, explain what might be happening or what the intent of the image is (e.g., a marketing banner, a vacation photo, a technical diagram).\n\n**Output Guidelines:** - Keep your response structured and easy to read using bullet points if necessary. - If the image is unclear or blurry, mention that in your analysis. - Avoid generic descriptions; be as specific as possible (e.g., instead of \"a car,\" say \"a vintage red 1960s Mustang\").",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        96
      ],
      "id": "ca601ab2-7296-421d-8094-383658a4c0c6",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "gs73MpcVIaHjpC8A",
          "name": "OpenAi account 336"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e46ece2a-dc12-492a-a7a4-b29f3a3fffd7",
              "name": "Response",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        96
      ],
      "id": "7e2e6457-23f0-46d7-9e75-cac443492a66",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}{{ $json.Response }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        0
      ],
      "id": "250682da-8a33-49df-a76c-ae27ecca3aec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "16e5d76d-78ce-4014-8e6a-ca37227cee4e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "trfCIoo4zy3VwQ3q",
          "name": "Groq account 30"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        224
      ],
      "id": "8bc21d27-fad3-4e56-a508-446f38664a00",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        0
      ],
      "id": "fafc4c95-6d0f-4008-8520-ffdf02865626",
      "name": "Send a text message",
      "webhookId": "db4b574e-b1cb-4f4e-8042-0c924cf49d7e",
      "credentials": {
        "telegramApi": {
          "id": "TOgOHDoYAqJmTQXh",
          "name": "Telegram account 131"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "853df350-c6c6-4cf4-9d5c-a122a20447b5",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -144
      ],
      "id": "75b62a5a-99f6-49f0-b52a-6dc33c0e2edc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3c4a290e-4978-4f35-bef9-24c16749509a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -240
      ],
      "id": "5f20744a-cd99-4852-9641-89a38bcba1a9",
      "name": "Webhook",
      "webhookId": "3c4a290e-4978-4f35-bef9-24c16749509a"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c5df72b8-75ec-4995-a0f4-7e9b719639e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "id": "91AzpuGGRrgbln0c",
  "tags": []
}