Custom Chatbot Integration On Any Website.json
{
  "name": "Custom Chatbot Integration On Any Website",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "170VebdFimidbzAqyCtP8GeGyth6dJMHW",
          "mode": "list",
          "cachedResultName": "F1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/170VebdFimidbzAqyCtP8GeGyth6dJMHW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "ebfdb536-41ca-4a42-8925-cc09bcb38e51",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p4JE4pLW9taM1k9i",
          "name": "Google Drive account 156"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        0
      ],
      "id": "54ce1d8a-7f3c-440f-b086-b230d460b290",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p4JE4pLW9taM1k9i",
          "name": "Google Drive account 156"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n001",
          "mode": "list",
          "cachedResultName": "n8n001"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1328,
        0
      ],
      "id": "edfd056f-3113-429d-893e-29cec5a5f77f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "neqApQHbjvfPKqVw",
          "name": "PineconeApi account 103"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        208
      ],
      "id": "5a6bd439-d01f-40a5-820a-ff389400d412",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gs73MpcVIaHjpC8A",
          "name": "OpenAi account 336"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1472,
        208
      ],
      "id": "f37a2cad-7b8c-48ae-b3cf-d4bf04179b80",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        64,
        -416
      ],
      "id": "3313c9ed-6632-4695-92ba-64b71488dcae",
      "name": "When chat message received",
      "webhookId": "9cac1065-27b2-40a5-86d6-e8c9de182424"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -416
      ],
      "id": "b27a8848-6cba-451c-b998-bf98de1327e3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        -160
      ],
      "id": "6b241dc4-041f-4c85-ac53-e7482e71fd33",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a RAG agent. answer all the question based on provaided information.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n001",
          "mode": "list",
          "cachedResultName": "n8n001"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        -144
      ],
      "id": "15fae14c-9bcd-46e3-bfa1-59f3044eadb8",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "neqApQHbjvfPKqVw",
          "name": "PineconeApi account 103"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        16
      ],
      "id": "b2f844d7-4c6e-4661-9dfe-5f47e445a396",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "gs73MpcVIaHjpC8A",
          "name": "OpenAi account 336"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        -208
      ],
      "id": "c6a3c3a6-3a64-46ab-b014-75d0bc03d9a5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gs73MpcVIaHjpC8A",
          "name": "OpenAi account 336"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9728aa46-da26-48b7-b918-e93f4687681b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "id": "OZrhmSUFkJ5bLlcd",
  "tags": []
}